<launch>
	<rosparam file="$(find tracking_controller)/cfg/controller_param.yaml" ns="controller"/>
	<rosparam file="$(find autonomous_flight)/cfg/dynamic_navigation/fake_detector_param.yaml" />
	<rosparam file="$(find autonomous_flight)/cfg/dynamic_navigation/flight_base.yaml" ns="autonomous_flight"/>
	<rosparam file="$(find autonomous_flight)/cfg/dynamic_navigation/planner_param.yaml" />
	<rosparam file="$(find autonomous_flight)/cfg/dynamic_navigation/mapping_param.yaml" ns="/dynamic_map" />
	<rosparam file="$(find autonomous_flight)/cfg/dynamic_navigation/dynamic_detector_param.yaml" ns="/onboard_detector" />
	<rosparam file="$(find autonomous_flight)/cfg/dynamic_navigation/predictor_param.yaml" ns="/dynamic_predictor" />

	<node pkg="tracking_controller" type="tracking_controller_node" name="tracking_controller_node" output="screen" />
	<node pkg="autonomous_flight" type="dynamic_navigation_node" name="dynamic_navigation_node" output="screen" />
	<node pkg="onboard_detector" type="yolo_detector_node.py" name="yolo_detector_node" output="screen" />
</launch>