<launch>
	<!-- controller -->
	<rosparam file="$(find tracking_controller)/cfg/controller_param.yaml" ns="controller"/>
	<node pkg="tracking_controller" type="tracking_controller_node" name="tracking_controller_node" />

	<rosparam file="$(find autonomous_flight)/cfg/takeoff_and_track_circle/flight_base.yaml" ns="autonomous_flight"/>
	<node pkg="autonomous_flight" type="takeoff_and_track_circle_node" name="takeoff_and_track_circle_node" output="screen" />
</launch>