<launch>
    <!-- Argument for simulation mode -->
    <arg name="simulation" default="true" />
	<param name="autonomous_flight/simulation" type="bool" value="$(arg simulation)" />

    

    <!-- Conditionally remap topics if simulation is true -->
    <group if="$(arg simulation)">
        <remap from="/mavros/local_position/odom" to="CERLAB/quadcopter/odom" />
        <remap from="/mavros/setpoint_raw/local" to="CERLAB/quadcopter/cmd_acc" />

        <rosparam file="$(find tracking_controller)/cfg/controller_param.yaml" ns="controller"/>
        <node pkg="tracking_controller" type="tracking_controller_node" name="tracking_controller_node"  output="screen" />

        <rosparam file="$(find autonomous_flight)/cfg/takeoff_and_track_circle/flight_base.yaml" ns="autonomous_flight"/>
        <node pkg="autonomous_flight" type="takeoff_and_track_circle_node" name="takeoff_and_track_circle_node" output="screen" />
    </group>
    <group unless="$(arg simulation)">
        <rosparam file="$(find tracking_controller)/cfg/controller_param.yaml" ns="controller"/>
        <node pkg="tracking_controller" type="tracking_controller_node" name="tracking_controller_node"  output="screen" />

        <rosparam file="$(find autonomous_flight)/cfg/takeoff_and_track_circle/flight_base.yaml" ns="autonomous_flight"/>
        <node pkg="autonomous_flight" type="takeoff_and_track_circle_node" name="takeoff_and_track_circle_node" output="screen" />
    </group>

</launch>