<launch>
	<rosparam file="$(find autonomous_flight)/cfg/test_navigation/detector_param.yaml" />
	<rosparam file="$(find autonomous_flight)/cfg/test_navigation/planner_param.yaml" />
	<rosparam file="$(find autonomous_flight)/cfg/test_navigation/mapping_param.yaml" ns="/occupancy_map" />
	<node pkg="autonomous_flight" type="test_navigation_node" name="test_navigation_node" output="screen" />
</launch>